.social {
  text-align: center;
  @media screen and (min-width: $desctorp) {
    padding-top: 15px;
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 60px;
    &::after {
      box-sizing: border-box;
    }
    &::before {
      box-sizing: border-box;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms $timing-function;
    &:first-child {
      margin-right: 10px;
    }
    &:not(:first-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0px;
    }
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
  &__icone {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
