html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  overflow-x: auto;
  &.modal-open {
    overflow: hidden;
  }
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
  margin: 0px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.containerr {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.selection {
  padding: 60px 0px;
  @media screen and (min-width: 480px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}
